<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zuji"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.example.zuji.YinDaoYeActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.zuji.DianZanActivity" >
        </activity>
         <activity android:name="com.example.zuji.DengLuActivity" >
        </activity>
        <activity android:name="com.example.zuji.BottonNavigationActivity" >
        </activity>
        <activity android:name="com.example.zuji.GeRenZiLiaoActivity" >
        </activity>
        <activity android:name="com.example.zuji.PingLunActivity" >
        </activity>
        <activity android:name="com.example.zuji.ZuJiActivity" >
        </activity>
        <activity android:name="com.example.zuji.TiDaoActivity" >
        </activity>
        <activity android:name="com.example.zuji.TongZhiActivity" >
        </activity>
        <activity android:name="com.example.zuji.GongNrngJieShaoActivity" >
        </activity>
        <activity android:name="com.example.zuji.ChongQingActivity" >
        </activity>
        <activity android:name="com.example.zuji.SheZhiActivity" >
        </activity>
        <activity android:name="com.example.zuji.SheZhiZuJiMiMaActivity" >
        </activity>
        <activity android:name="com.example.zuji.DynamicActivity" >
        </activity>
        <activity android:name="com.example.zuji.YiJianFanKiuActivity" >
        </activity>
        <activity android:name="com.example.zuji.DynamicSiBuSheYingActivity" >
        </activity>
        <activity android:name="com.example.zuji.GeRenTouXiangActivity" >
        </activity>
        <activity android:name="com.example.zuji.GuanYuZuJiActivity" >
        </activity>
        <activity android:name="com.example.zuji.MeiShiActivity" >
        </activity>
        <activity android:name="com.example.xuactivity.MinefansActivity" >
        </activity>
        <activity android:name="com.example.xuactivity.MinefocusActivity" >
        </activity>
        <activity android:name="com.example.xuactivity.TimefusiondeletesActivity" >
        </activity>
        <activity android:name="com.example.xuactivity.Timeinthepast_activity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.HomepageZuji" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.HotPhotoalbumActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.SceneryCommentActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.SceneryMoreActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.ZujiRecommendHuangheActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.ZujiRecommendHuangshanActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.SeekActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.CameraActivity" >
        </activity>
        <activity android:name="com.example.zuiji.homepage.CameraDongtaiActivity" >
        </activity>
         <activity android:name="com.example.zuiji.homepage.SceneryCommentTwoActivity" >
        </activity>
         <activity android:name="com.example.zuiji.homepage.SceneryCommentThreeActivity" >
        </activity>
         <activity android:name="com.example.zuiji.homepage.SceneryCommentFourActivity" >
        </activity>
         <activity android:name="com.example.zuiji.homepage.SceneryCommentFiveActivity" >
        </activity>
         <activity android:name="com.example.zuiji.homepage.SceneryCommentSixActivity" >
        </activity>
    </application>

</manifest>